<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Samuka SMk Example of Bootstrap with Jumbotron Template + bootswatch.com colors + Bootsnipp.com logout dropdown">
    <meta name="author" content="samukasmk@gmail.com">
    <link rel="shortcut icon" href="{{ STATIC_URL }}bootstrap/assets/ico/favicon.png">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/extra/bootswatch/cerulean/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/extra/bootswatch/cerulean/css/bootstrap.min.css">     

    <script id="twitter-wjs" src="{{ STATIC_URL }}bootstrap/extra/twitter/widgets.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/extra/font-awesome/css/font-awesome.min.css">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-144x144-precomposed.png">

    <!--<link href="../../extra/netdna/css/bootstrap-combined.min.css" rel="stylesheet">-->

    <!--
    <link href="../../extra/bootsnipp/css/prettify.css" media="all" type="text/css" rel="stylesheet">
    <link href="../../extra/bootsnipp/css/bootsnipp.css" media="all" type="text/css" rel="stylesheet">
    <link href="../../extra/bootsnipp/css/codemirror.css" media="all" type="text/css" rel="stylesheet">
    <link href="../../extra/bootsnipp/css/jackedup.css" media="all" type="text/css" rel="stylesheet">
    -->

    <!--<script src="../../extra/jquery/jquery-1.9.1.min.js"></script>-->

    <!--<script src="../../extra/netdna/js/bootstrap.min.js"></script>-->

    <!--
    <script src="../../extra/bootsnipp/js/prettify.js"></script>
    <script src="../../extra/bootsnipp/js/codemirror.js"></script>
    <script src="../../extra/bootsnipp/js/humane.min.js"></script>
    -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../extra/bootsnipp/js/html5-3.4-respond-1.1.0.min.js"></script>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>    
    <![endif]-->
    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
           filter: none;
        }
      </style>
    <![endif]-->
  </head>
  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="https://github.com/samukasmk/django_bootstrap_example">About</a></li>
            <li><a href="https://github.com/samukasmk/django_bootstrap_example">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li><a href="./">Fixed top</a></li>
            <!--<li class="active"><a href="./">Fixed top</a></li>-->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, User <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><a href="/user/preferences"><i class="icon-cog"></i> Preferences</a></li>
                  <li><a href="/help/support"><i class="icon-envelope"></i> Contact Support</a></li>
                  <li class="divider"></li>
                  <li><a href="/auth/logout"><i class="icon-off"></i> Logout</a></li>
              </ul>
            </li>
          </ul>          
        </div><!--/.nav-collapse -->
      </div>
    </div>


    {% block content %}{% endblock %}

        
    <hr>

    <footer>
      <p>&copy; Company 2013</p>
    </footer>    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}bootstrap/assets/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/dist/js/bootstrap.min.js"></script>
    
  </body>
</html>
